@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../image/bg-repeat.jpg);
    background-repeat: repeat-x;
    background-size: contain;
}

.container {
    display: flex;
    justify-content: space-evenly;
    min-height: 100vh;
    width: 100vw;
}

.descricao {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    color: #fff;
}

.descricao .titulo {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.descricao .paragrafo {
    font-size: 15px;
    font-weight: 400;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 340px;
}

.informacoes {
    background-color: #fff;
    padding: 20px;
}

.validacao {
    width: 298px;
    height: 35px;
    border: solid 1px black;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
} 

.formulario #mensagem {
    height: 100px;
    margin-bottom: 0;
}

.campo-obrigatorio {
    display: none;
}

.formulario .text-obrigatorio {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

.formulario .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 298px;
    height: 40px;
    background-color: #3CCC87;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out, .2s;
}

.formulario .btn:hover{
    transform: scale(1.02);
}

.preenchido {
    border: 1px solid #3CCC87 ;
}

.nao-preenchido {
    display: block;
    font-size: 8px;
    margin-bottom: 5px;
    color: #f52e2e;
}

.borda-nao-preenchida {
    width: 298px;
    height: 35px;
    border: 1px solid #f52e2e;
    border-radius: 5px;
    padding: 8px;
}

.borda-nao-preenchida #mensagem {
    height: 100px;
}