@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(./image/bg-repeat.jpg);
    background-repeat: repeat-x;
    background-size: contain;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 60px;
}

.texto {
    width: 310px;
    color: #fff;
}

.texto h1 {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.texto .paragrafo {
    font-size: 15px;
    font-weight: 400;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 340px;
    height: 380px;
    background-color: #fff;
    border-radius: 5px;
}

.formulario input {
    width: 298px;
    height: 35px;
    border: solid 1px ;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

.formulario span {
    /* display: none; */
    color: red;
    font-size: 8px;
    font-weight: 400;
}

.formulario #placeholder-text {
    padding-bottom: 80px;
    width: 298px;
    height: 100px;
    margin-bottom: 5px;
}

.formulario .text-campos {
    margin-left: -150px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

.formulario .btn {
    width: 298px;
    height: 40px;
    background-color: #3CCC87;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out, .2s;
}

.formulario .btn:hover{
    transform: scale(1.02);
}